@using Data.Extensions
@model IEnumerable<Data.Models.Product>

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div>
    <div class="container mt-4">
        <div class="header text-start w-100 mb-5 mt-5">
            <h1 class="display-4 green-title">Dashboard</h1>
        </div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <!-- Add New Employee Account Form (Visible to Admin only) -->
        @if (User.IsInRole("Admin"))
        {
            <div class="card mb-4">
                <div class="card-header tab-nav-background d-flex justify-content-between align-items-center">
                    <span>Add New Employee Account</span>
                    <button type="button" class="btn btn-link text-white fs-4" onclick="toggleCardContent(this)">+</button>
                </div>
                <div class="card-body form-card" style="display: none;">
                    <form method="post" action="@Url.Action("AddEmployee", "Admin")" class="d-flex flex-column align-items-center">
                        <div class="form-group w-75 d-flex flex-column align-items-center">
                            <label class="profile-label text-center w-100" for="EmployeeName">Employee Name</label>
                            <input type="text" class="form-control w-75 text-center" id="EmployeeName" name="EmployeeName" required>
                        </div>
                        <div class="form-group w-75 d-flex flex-column align-items-center">
                            <label class="profile-label text-center w-100" for="EmployeeEmail">Email</label>
                            <input type="email" class="form-control w-75 text-center" id="EmployeeEmail" name="EmployeeEmail" required>
                        </div>
                        <div class="form-group w-75 d-flex flex-column align-items-center">
                            <label class="profile-label text-center w-100" for="EmployeePassword">Password</label>
                            <input type="password" class="form-control w-75 text-center" id="EmployeePassword" name="EmployeePassword" required>
                        </div>
                        <button type="submit" class="btn btn-success">Add Employee</button>
                    </form>
                    <!-- List of Employees -->
                    <ul class="list-group mt-3">
                        @foreach (var employee in ViewBag.Employees)
                        {
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                @employee.Name (@employee.Email)
                                <form method="post" action="@Url.Action("DeleteEmployee", "Admin")" onsubmit="return confirm('Are you sure you want to delete this employee?');">
                                    <input type="hidden" name="EmployeeId" value="@employee.Id" />
                                    <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                                </form>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        }

        <!-- Add New Farmer Profile Form -->
        <div class="card mb-4">
            <div class="card-header tab-nav-background d-flex justify-content-between align-items-center">
                <span>Farmers</span>
                <button type="button" class="btn btn-link text-white fs-4" onclick="toggleCardContent(this)">+</button>
            </div>
            <div class="card-body form-card" style="display: none;">
                <form method="post" action="@Url.Action("AddFarmer", "Admin")" class="d-flex flex-column align-items-center">
                    <div class="form-group w-75 d-flex flex-column align-items-center">
                        <label class="profile-label text-center w-100" for="FarmerName">Farmer Name</label>
                        <input type="text" class="form-control w-75 text-center" id="FarmerName" name="FarmerName" required>
                    </div>
                    <div class="form-group w-75 d-flex flex-column align-items-center">
                        <label class="profile-label text-center w-100" for="FarmerEmail">Email</label>
                        <input type="email" class="form-control w-75 text-center" id="FarmerEmail" name="FarmerEmail" required>
                    </div>
                    <div class="form-group w-75 d-flex flex-column align-items-center">
                        <label class="profile-label text-center w-100" for="FarmerPassword">Password</label>
                        <input type="password" class="form-control w-75 text-center" id="FarmerPassword" name="FarmerPassword" required>
                    </div>
                    <button type="submit" class="btn btn-success">Add Farmer</button>
                </form>
                <!-- List of Farmers-->
                <ul class="list-group mt-3">
                    @foreach (var farmer in ViewBag.Farmers)
                    {
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            @farmer.Name (@farmer.Email)
                            <form method="post" action="@Url.Action("DeleteFarmer", "Admin")" onsubmit="return confirm('Are you sure you want to delete this farmer? This will also delete all associated products.');">
                                <input type="hidden" name="FarmerId" value="@farmer.Id" />
                                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                            </form>
                        </li>
                    }
                </ul>
            </div>
        </div>

        <!-- Filter Products Form -->
        <div class="">
            <form id="filterForm" method="get" action="@Url.Action("FilterProducts", "Admin")" class="d-flex flex-wrap">
                <div class="form-group col-md-2 d-flex flex-column align-items-center mx-1">
                    <label class="profile-label text-center w-100" for="FarmerId">Farmer</label>
                    <select class="form-control text-center" id="FarmerId" name="FarmerId">
                        <option value="">All Farmers</option>
                        @foreach (var farmer in ViewBag.Farmers)
                        {
                            <option value="@farmer.Id" @(ViewBag.FarmerId == farmer.Id ? "selected" : "")>@farmer.Name</option>
                        }
                    </select>
                </div>
                <div class="form-group col-md-2 d-flex flex-column align-items-center mx-1">
                    <label class="profile-label text-center w-100" for="ProductName">Product Name</label>
                    <input type="text" class="form-control text-center" id="ProductName" name="ProductName" value="@ViewBag.ProductName">
                </div>
                <div class="form-group col-md-2 d-flex flex-column align-items-center mx-1">
                    <label class="profile-label text-center w-100" for="Category">Category</label>
                    <input type="text" class="form-control text-center" id="Category" name="Category" value="@ViewBag.Category">
                </div>
                <div class="form-group col-md-2 d-flex flex-column align-items-center mx-1">
                    <label class="profile-label text-center w-100" for="StartDate">Start Date</label>
                    <input type="date" class="form-control text-center" id="StartDate" name="StartDate" value="@ViewBag.StartDate">
                </div>
                <div class="form-group col-md-2 d-flex flex-column align-items-center mx-1">
                    <label class="profile-label text-center w-100" for="EndDate">End Date</label>
                    <input type="date" class="form-control text-center" id="EndDate" name="EndDate" value="@ViewBag.EndDate">
                </div>
                <div class="form-group col-md d-flex flex-row align-items-end">
                    <button type="button" class="btn btn-secondary mx-1" onclick="clearFilterForm()">Clear</button>
                    <button type="submit" class="btn btn-success mx-1">Filter</button>
                </div>
            </form>
        </div>

        <!-- Display Products -->
        <div class="row">
            @foreach (var product in Model)
            {
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="card product-card shadow-sm">
                        <img src="@Url.Content(product.ProductImagePath)" class="card-img-top rounded-top" alt="@product.ProductName">
                        <div class="card-body">
                            <h5 class="card-title product-label text-start"><span class="font-weight-bold">Name:</span> @product.ProductName</h5>
                            <p class="card-text product-label text-start"><span class="font-weight-bold">Description:</span> @product.ProductDescription</p>
                            <p class="card-text product-label text-start"><span class="font-weight-bold">Category:</span> @product.Category</p>
                            <p class="card-text product-label text-start"><span class="font-weight-bold">Price:</span> R @product.Price.ToString("N2")</p>
                            <p class="card-text product-label text-start"><span class="font-weight-bold">Qty:</span> @product.Stock</p>
                            <p class="card-text product-label text-start"><span class="font-weight-bold">Production Date:</span> @product.ProductionDate.ToShortDateString()</p>
                            <p class="card-text product-label text-start"><span class="font-weight-bold">Farmer:</span> @product.User.Name</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script>
    function toggleCardContent(button) {
        var cardBody = button.closest('.card').querySelector('.form-card');
        if (cardBody.style.display === 'none') {
            cardBody.style.display = '';
            button.textContent = '-';
        } else {
            cardBody.style.display = 'none';
            button.textContent = '+';
        }
    }

    document.addEventListener('DOMContentLoaded', function () {
        var cardBodies = document.querySelectorAll('.form-card');
        cardBodies.forEach(function (cardBody) {
            cardBody.style.display = 'none';
        });
        var toggleButtons = document.querySelectorAll('.btn-link');
        toggleButtons.forEach(function (button) {
            button.textContent = '+';
        });
    });

    function clearFilterForm() {
        document.getElementById('ProductName').value = '';
        document.getElementById('Category').value = '';
        document.getElementById('StartDate').value = '';
        document.getElementById('EndDate').value = '';
    }
</script>
