@model AgriEnergyConnectPlatform.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="w-100 h-100 d-flex flex-column justify-content-center align-items-center">

    <div class="text-center d-flex flex-column justify-content-center align-items-center flex-grow-1">
        <h5 id="sub-title">Agri-Energy Connect</h5>
        <h2 id="title">Log In</h2>
    </div>



    @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "flex-grow-1" }))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Email)
            @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password)
            @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary w-100 btn-background">Login</button>
        </div>

    }

</div>